/*doc css*/

*{ margin: 0; 
 padding: 0; }


body { font-family: "Sarabun", sans-serif; }

h1 { text-align: center; 
background-color:khaki; 
color:darkgoldenrod;}

section, div { box-sizing: border-box; }

.pie { font-size: 9pt; 
text-align: center;
background-color: khaki;
padding-top: 45px;
min-height: 50px;}

.image {  display: flex;
    text-align: center;
    margin-top: 20px; }

.image-box { width: 25%;
padding: 20px;}

.image-box img { width: 100%;
height: auto; }

.image-container { display: flex;
justify-content: center; }

.image-box p { margin-top: 10px }

h2 { color: darkgoldenrod; 
text-align: center;}

p {text-align: center;}

img { height: 600px; }

