/*DOCUMENTO CSS*/

*{margin: 0;
padding: 0;
border-spacing: 0;}

h1 { text-align: center; 
background-color: rgb(255, 255, 255);
text-transform: uppercase;
color:aliceblue;
text-shadow: 0px 0px 6px rgb(245, 22, 126);}

h1::before {content: ;
display: block;
width: 50px;
height: 50px;
background-image: url(/img/Austria_Viena.jpg);
background-size: 100%;
position: fixed;}


.cabecera { width: 100%; 
           min-height: 1px;
           background-color: rgb(248, 103, 132);
           padding: 20px 0px;
           margin-bottom: 20px;}

.tablas

.tablas table { margin-bottom: 20px; 
                margin: 0px auto 20px auto;
                width: 400px;
                background-color: rgb(223, 98, 117);
                padding: 10px;}

.tablas tr { background: rgb(255, 255, 255); }

.contenido { width: 80%; 
             margin: auto;}

.contenido p { padding: 20px;
               line-height: 1.5;
               font-size: 1.2em;}


.pie { height: 80px; 
       background:rgb(63,94,251);
       background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
       text-align: center;}

.pie span {line-height: 5em;
           color: whitesmoke;}

.tablas tr:first-child { background-color: hotpink;}

.contenido p:nth-child(even) {color: plum;}
           
.contenido a:link {color: violet;
                              text-decoration: none;
                              text-transform: uppercase;} 
           
.contenido a:hover {color: mediumvioletred;
                               background-color: brown;}
           
.contenido a:active {font-size: 3em;
           background-color: transparent;}
           
p.letra::first-letter {font-size: 3em;
           float: left;
           padding-right: 5px;}